.cartDropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 75px;
    right: 40px;
    z-index: 5;

    .cartDropdown__items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .cartDropdown__empty {
            font-size: 18px;
            margin: 50px auto;
        }
    }

    button {
        margin-top: auto;
    }
}
