.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0 30px;

    .header__right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        font-size: 25 px;

        .header__option {
            cursor: pointer;
        }
    }
}
